services:
  postgres:
    image: postgres:16
    container_name: order-platform-postgres
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: orderuser
      POSTGRES_PASSWORD: orderpass123
    ports:
      - "5433:5432"
    volumes:
      - order_platform_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U orderuser -d orderdb"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: unless-stopped

  api:
    image: order-platform-api:latest
    container_name: order-platform-api
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/orderdb
      SPRING_DATASOURCE_USERNAME: orderuser
      SPRING_DATASOURCE_PASSWORD: orderpass123
      ORDER_EVENTS_MODE: sqs
      AWS_REGION: eu-west-1
      AWS_SQS_QUEUEURL: https://sqs.eu-west-1.amazonaws.com/583880312081/order-platform-aws-lab-order-events
    restart: unless-stopped

  worker:
    image: order-platform-worker:latest
    container_name: order-platform-worker
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/orderdb
      SPRING_DATASOURCE_USERNAME: orderuser
      SPRING_DATASOURCE_PASSWORD: orderpass123
      WORKER_MODE: sqs-consumer
      AWS_REGION: eu-west-1
      AWS_SQS_QUEUEURL: https://sqs.eu-west-1.amazonaws.com/583880312081/order-platform-aws-lab-order-events
      ORDER_WORKER_FAILUREPROBABILITY: "0.0"
      ORDER_WORKER_MAXRETRIES: "3"
      ORDER_WORKER_RETRYDELAYMS: "1000"
    restart: unless-stopped

volumes:
  order_platform_pgdata:
