# Implicit Docker Compose version
# Defines WHAT services exist in this environment
services:

  # Logical name of the service
  postgres:

    # Official PostgreSQL image, version 16
    # Using explicit versions avoids surprises
    image: postgres:16

    # Fixed container name (useful for logs and debugging)
    container_name: order-platform-postgres

    # Environment variables used by Postgres at startup
    environment:
      # Name of the database that is automatically created
      POSTGRES_DB: orderdb

      # Database administrator user
      POSTGRES_USER: orderuser

      # Password for the user
      POSTGRES_PASSWORD: orderpass123

    # Port mapping
    # host_port:container_port
    ports:
      - "5433:5432"

    # Volumes = data persistence
    # Even if the container is removed, data is NOT lost
    volumes:
      - order_platform_pgdata:/var/lib/postgresql/data

    # Healthcheck: Docker checks if Postgres is ready
    # Very important for real-world systems
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U orderuser -d orderdb"]
      interval: 5s
      timeout: 3s
      retries: 10

  localstack:
    image: localstack/localstack:3
    container_name: order-platform-localstack

    ports:
      - "4566:4566"

    environment:
      SERVICES: sqs
      AWS_DEFAULT_REGION: eu-west-1
      DEBUG: 0

    volumes:
      - ./localstack/init:/etc/localstack/init/ready.d

# Definition of persistent volumes
volumes:
  order_platform_pgdata:
